/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    /* 消除點擊藍色塊 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #1B1E25;
}

body a {
    text-decoration: none;
}


/* Header */
.menu_MB {
    display: none;
}


.navbar {
    position: sticky;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px 0px;
    background-color: #1b1e25dc;
    box-shadow: 0px 2px 8px 0px #0000007A;
    /* 背景模糊 */
    backdrop-filter: blur(4px);


}

.navbar .container {
    display: flex;
    align-items: center;
    padding-left: 8%;
}


.navbar form {
    width: 100%;
}


.searchLabelWrap {
    display: flex;
    gap: 7px;
    align-items: center;
    height: 38px;
    padding: 0px 16px;
    border: 1px solid #686B72;
    border-radius: 8px;


}

.searchLabelWrap img {
    width: 24px;
    height: 24px;
}


.searchInput {
    border: 0;
    outline: 0;
    /* focus style on parent */
    background: transparent;
    font: inherit;
    width: 100%;
    box-sizing: border-box;
    color: #C10171;
    font-family: 'Noto Sans TC';
    font-size: 14px;
}


.visually-hidden {
    position: absolute;
    left: -9999px;
}

/* 去input除預設的X */
.searchInput::-webkit-search-cancel-button {
    display: none;
}

.searchInput::-moz-search-cancel-button {
    display: none;
}

.navbar .list {
    display: flex;
    padding: 0px 10% 0px 10px;
    align-items: baseline;
}



.navbar .list li {
    width: 78px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;



}

.navbar .list li a {
    color: #ffffff;
    font-family: 'Noto Sans TC';
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s;


}


.navbar .list li:hover a {
    color: #C10171;
}




.navbar .list li:not(.vip):not(.active)::after {
    /* 除了.vip的lv不要有效果 */
    position: absolute;
    content: '';
    bottom: 0px;
    left: 8px;
    width: 60px;
    height: 3px;
    border-radius: 10px;
    background-color: #C10171;
    opacity: 0;
    transition: 0.5s;


}

.navbar .list li:not(.vip):hover::after {
    /* 除了.vip的lv不要有效果 */
    opacity: 1;


}






.navbar .active::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 8px;
    width: 60px;
    height: 3px;
    border-radius: 10px;
    background-color: #C10171;

}







.navbar .vip a {
    width: 42px;
    height: 42px;
    background-color: #161616;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Hero */
/* 輪播點 */




.hero {
    width: 100%;
    height: 620px;
    display: block;
    justify-content: center;
    margin-top: -80px;
    overflow: hidden;

}

.info {
    max-width: 360px;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 10%;
}

.info h1 {
    font-family: 'Roboto';
    font-size: 4.375rem;
    font-weight: 900;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    background: -webkit-llinear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.info h2 {
    font-family: 'Noto Sans TC';
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
}

.info p {
    font-family: 'Noto Sans TC';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 10px;
}

.info .container {
    margin-top: 16px;
    display: flex;
    gap: 14px;
}

.info .more {
    width: 160px;
    height: 42px;
    font-family: 'Noto Sans TC';
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 42px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 13px;
    background: linear-gradient(#161616, #161616), linear-gradient(91.47deg, #c10171, #5c00f2);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.info .add {
    width: 160px;
    height: 42px;
    font-family: 'Noto Sans TC';
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 42px;
    background-color: #C10171;
    border-radius: 13px;
    position: relative;
    z-index: 3;
    cursor: pointer;


}

.hero .swiper-slide {
    position: relative;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(72.5% 427.7% at 96.33% 50%, rgba(27, 30, 37, 0) 39.58%, rgba(27, 30, 37, 0.93) 94.79%),
        linear-gradient(360deg, #1B1E25 0%, rgba(27, 30, 37, 0) 29.22%);

}


.hero .mySwiper {
    height: 620px;

}

.hero .swiper-slide img {
    width: 100%;
    height: 620px;
    object-fit: cover;
    object-position: 50% 15%;
}


/* 熱門電影 */

.hotmovie {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    overflow: hidden;

}


.myprev,
.mynext {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    background: #686B721A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.myprev {
    margin-left: 16px;
}

.mynext {
    margin-right: 16px;
}


.box {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}




.box h1 {
    font-size: 20px;
    font-family: 'Noto Sans TC';
    color: #ffffff;
    margin-bottom: 14px;


}



.hotSwiper {
    max-width: 992px;
    width: 100%;
    height: 100%;
}


.box .card {
    text-align: center;


}


.box .picbox {
    position: relative;
    aspect-ratio: 3 / 4;
    text-align: center;
    box-shadow: 0px 2px 8px 0px #0000007A;
    border-radius: 8px;
}


.box .picbox::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(22, 22, 22, 0) 30.58%, rgba(22, 22, 22, 0.98) 100%);
    border-radius: 8px;
    pointer-events: none;

}

.box .picbox img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    display: block;
}



.box .score {
    position: absolute;
    top: 86%;
    right: 4px;
    z-index: 1;
    width: 36px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 600;

}

.box .card .name {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 熱門韓劇 */
.hotkorean,
.hotUSA,
.otherfilm {
    display: flex;
    justify-content: center;
    padding: 40px 0px;

}

.hotkorean .box,
.hotUSA .box,
.otherfilm .box {
    background: #686B721A;
    border-radius: 20px;
    padding: 40px 0px;
}



/* 熱門台劇、陸劇 */
.hotchina,
.hotanime {
    display: flex;
    justify-content: center;

}

.hotchina .box,
.hotanime .box {
    padding: 20px 0px;
}

/* footer */
footer {
    padding-top: 100px;

}

footer p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto';
    text-align: center;
    padding: 16px;
    background-color: #161616;
}

/* ========================================================== */
/* 搜尋頁_search.html */


#searchResults .notfound {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans TC';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


/* ========================================================== */
/* 電影頁_movie.html */
/* 篩選 */
.filter {
    color: #ffffff;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background: #686B721A;
    border-radius: 20px;
    padding: 24px;
    margin-top: 42px;
    box-sizing: border-box;


}




.filter .container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.titile_icon {
    width: 3px;
    height: 23px;
    border-radius: 50px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    margin-right: 8px;
}

.filter h2 {
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
}




.filter .options {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    gap: 12px 6px;
    justify-content: space-evenly;
    margin-bottom: 28px;
}

.filter .options p {
    width: 70px;
    height: 28px;
    background-color: #161616;
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    font-family: 'Roboto';
    font-size: 14px;
    transition: 1s;
    cursor: pointer;

}


.filter .options p:hover {
    background-color: #C10171;

}

.filter .options .active,
.sort .active {
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
}




/* 篩選_評分 */
.filter .score {
    display: flex;
    justify-content: space-between;
}

.filter .score .score-left {
    display: flex;
    align-items: center;
}

.filter .score .container {
    margin-bottom: 0px;
    margin-right: 28px;
}


.filter .score .range {
    display: flex;
    gap: 26px;
    align-items: center;
}

.filter .score .range p {
    font-size: 16px;
    font-family: 'Roboto';
}


#range_movie,
#range_drama {
    width: 190px;
    height: 10px;
    border: 0;
    border-radius: 100px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    outline: 4px solid #161616;
}

#range_movie .ui-slider-handle,
#range_drama .ui-slider-handle {
    position: absolute;
    margin: -3px 0 0 -17px;
    border-radius: 100px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    color: #fff;
    border: 0;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 26px;
    outline: 4px solid #161616;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    transition: transform 0.1s ease;
    z-index: 1;
}

#range_movie .ui-slider-handle:hover,
#range_movie .ui-slider-handle:focus,
#range_drama .ui-slider-handle:hover,
#range_drama .ui-slider-handle:focus {
    transform: scale(1.1);
}

#range_movie .ui-slider-range,
#range_drama .ui-slider-range {
    background: #161616;
    border-radius: 100px;

}

.score .search {
    width: 220px;
    height: 42px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    box-shadow: 0px 2px 8px 0px #0000007A;
    border-radius: 8px;
    text-align: center;
    line-height: 42px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;


}

/* 顯示條件 */
.sort {
    max-width: 1200px;
    width: 100%;
    background: #686B721A;
    display: flex;
    gap: 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    color: #ffffff;
    padding: 24px;
    box-sizing: border-box;

}

.sort p {
    width: 102px;
    height: 32px;
    background: #161616;
    box-shadow: 0px 2px 8px 0px #0000007A;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    cursor: pointer;
    transition: 1s;
}

.sort p:hover {
    background: #C10171;
}


/* 影片區 */
.film {
    box-sizing: border-box;
    max-width: 992px;
    width: 100%;
    margin: auto;

}


.film .list {
    padding: 50px 16px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 34px 16px;


}

.film .card .container {
    position: relative;
    box-shadow: 0px 2px 8px 0px #0000007A;
    border-radius: 8px;

}

#movie,
#drama {
    position: relative;
}

#movie .notfound,
#drama .notfound {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans TC';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}



.film .card .container::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(22, 22, 22, 0) 30.58%, rgba(22, 22, 22, 0.98) 100%);
    border-radius: 8px;
    pointer-events: none;

}



.film .card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
    object-fit: fill;
    border-radius: 8px;
}

.film .card .score {
    position: absolute;
    top: 86%;
    right: 4px;
    z-index: 1;
    width: 36px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 600;

}

.film .name {
    max-width: 150px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    margin-top: 10px;
    line-height: 21px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

}


.film .loading {
    width: 328px;
    height: 52px;
    border-radius: 13px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    box-shadow: 0px 2px 8px 0px #0000007A;
    color: #ffffff;
    text-align: center;
    line-height: 52px;
    margin: 10px auto 80px;
    font-size: 18px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    cursor: pointer;


}



/* ========================================================== */
/* 我的片單_collect.html */
/* 顯示條件 */

.collect_sort {
    max-width: 1200px;
    width: 100%;
    background: #686B721A;
    display: flex;
    gap: 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 42px;
    color: #ffffff;
    padding: 24px;
    box-sizing: border-box;
}

.collect {
    margin-bottom: 50px;
}


/* ========================================================== */
/* 主題館_theme.html */
.theme {
    max-width: 1110px;
    width: 100%;
    margin: auto;
}

.theme .list {
    padding: 47px 16px 100px 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.theme .card {
    max-width: 720px;
    max-height: 360px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #0000007A;
    position: relative;
    transition: transform 0.6s ease;

}

.theme .card:hover {
    transform: translateY(-14px);
}



.theme .card::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(22, 22, 22, 0.98) -71.5%, rgba(22, 22, 22, 0) 46.55%, rgba(22, 22, 22, 0.98) 100%);
    border-radius: 8px;
    pointer-events: none;

}


.theme .card img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 2 / 1;
}

.theme .name {
    position: absolute;
    top: 80%;
    right: 8px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Noto Sans TC';
    letter-spacing: 0.2rem;
}



/* ========================================================== */
/* 詳情頁_info.html */
/* 影片資訊 */
.info_MB,
.cover_MB {
    display: none;
}

.info_PC {
    max-width: 1200px;
    margin: auto;
}

.information {
    color: #ffffff;
    font-size: 16px;
    margin: 24px auto 12px;
    background: #686B721A;
    border-radius: 20px;


}

.information .box {
    display: flex;
    padding: 20px;
    gap: 34px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
}

.information .box_left {
    max-width: 320px;
    aspect-ratio: 3 / 4;
    border-radius: 20px;
    position: relative;

}

.information .box_left .card {
    max-width: 320px;
    aspect-ratio: 3 / 4;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px #0000007A;

}

.information .play {
    width: 64px;
    height: 64px;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    border-radius: 50px;
    box-shadow: 0px 2px 8px 0px #0000007A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 42%;
    left: 40%;
    cursor: pointer;
}

.information .container_style {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.information .style a {
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    padding: 4px 20px;
    background: #161616;
    border: 0.6px solid #FFFFFF;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
    transition: 0.6s;
    margin-top: 6px;
}

.information .style a:hover {
    background: #C10171;
    border: 0.6px solid #686B721A;
}

.information .add {
    width: 180px;
    height: 42px;
    background: #C10171;
    text-align: center;
    line-height: 42px;
    font-family: 'Noto Sans TC';
    border-radius: 13px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


.information .name {
    display: flex;
    align-items: baseline;
}

.information .name h2 {
    max-width: 420px;
    font-size: 38px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    line-height: 54px;
    margin-right: 18px;
    margin-bottom: 16px;

}



.information .name h1 {
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: 900;
    background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    background: -webkit-llinear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.information .year {
    display: flex;
    margin-bottom: 16px;
}

.information .year .container,
.information .dir .container,
.information .story .container,
.information .streaming .container,
.comment .mymment .container {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    margin-right: 16px;
}


.information .dir {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}




.information .story p {
    line-height: 24px;
    margin: 16px 0px;

}


.information .streaming img {
    max-width: 36px;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    margin-top: 16px;

}

/* 演員 */

.actors {
    background: #686B721A;
    border-radius: 20px;
    margin: auto;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

}

.actor {
    text-align: center;
}

.actor a img {
    max-width: 76px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #0000007A;

}

.actor p {
    max-width: 76px;
    height: 24px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12px;
    margin-top: 6px;
    font-weight: 400;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 評論 */
.comment {
    background: #686B721A;
    margin: auto;
    border-radius: 20px;
    padding: 24px;
    box-sizing: border-box;
    margin-top: 12px;

}

.comment .mymment h3 {
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    font-size: 16px;
}

.comment .mymment {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.comment .starbox {
    display: flex;
    gap: 12px;

}

.comment .starbox .star {
    width: 44px;
    height: 44px;
    color: #686B72;
    background: #1B1E25;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    font-size: 26px;
    box-shadow: 0px 2px 8px 0px #0000007A;
}

.comment .other .writer {
    display: flex;
    gap: 14px;
    background-color: #1B1E25;
    padding: 16px 16px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 12px;

}


.comment .other .box_left .photo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.comment .box_right .name {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
}

.comment .box_right .rating {
    color: #C10171;
    font-size: 22px;
    margin: 8px 0px;

}

.comment .box_right span {
    color: #686B72;
}



.comment .box_right p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}


















@media screen and (max-width:1200px) {

    /* 熱門電影 */
    .hotmovie .mySwiper,
    .hotkorean .mySwiper,
    .hotchina .mySwiper,
    .hotUSA .mySwiper,
    .hotanime .mySwiper {
        padding-left: 16px !important;
    }


    .myprev,
    .mynext {
        display: none;
    }

    .hotkorean .box,
    .hotUSA .box,
    .otherfilm .box {
        border-radius: 0px;
    }


    /* ========================================================== */
    /* 詳情頁_info.html */



    .information .add {

        top: 87%;
        right: 20px;
    }




    /* 評論 */
    .comment {
        border-radius: 0px;

    }




}





@media screen and (max-width:768px) {

    /* Header */
    .navbar .container {
        margin: 0px 16px;
        padding-left: 0%;
    }

    .navbar .list {
        display: flex;
        padding: 0px 16px 0px 10px;
    }





    /* 電影頁_movie.html */
    /* 篩選 */
    .filter {
        padding: 16px;

    }



    /* 篩選_評分 */
    .filter .score {
        flex-direction: column;
    }

    .filter .score .score-left {
        margin-bottom: 36px;

    }

    .filter .score .score-right {
        display: flex;
        justify-content: center;

    }

    .score .search {
        width: 100%;


    }








    /* 顯示條件 */
    .sort {
        padding: 16px;
    }

    .sort .active {
        margin-left: 0px;

    }

    /* 影片區 */
    .film .list {
        grid-template-columns: repeat(5, 1fr);
    }





    /* ========================================================== */
    /* 主題館_theme.html */

    .theme .list {
        grid-template-columns: repeat(2, 1fr);

    }








}










@media screen and (max-width:576px) {
    html {
        font-size: 13px;
    }

    /* Header */
    .navbar nav {
        display: none;
    }






    .menu_MB {
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #161616;
        box-shadow: 0px 2px 8px 0px #0000007A;
        z-index: 2;

    }

    .menu_MB ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .menu_MB ul li {
        height: 60px;
        padding-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .menu_MB ul li a {
        text-decoration: none;
    }




    .menu_MB ul li a p {
        color: #686B72;

    }

    .menu_MB ul li:hover p,
    .menu_MB ul .active {
        color: #C10171;
    }

    .menu_MB ul li:hover path,
    .menu_MB ul li .active path {
        fill: #C10171;

    }


    .menu_MB .vip a {
        width: 38px;
        height: 38px;
        background-color: #1B1E25;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    /* Hero */

    .hero {
        width: 100%;
        height: 84vh;
    }

    .swiper-pagination {
        display: none;
    }


    .info .story {
        display: none;
    }

    .info .container {
        flex-direction: column;
    }

    .info .more,
    .info .add {
        font-size: 1.3rem;
    }

    .hero .swiper-slide img {
        object-position: 70% 100%;
    }


    /* 電影頁_movie.html */
    /* 影片區 */
    .film .list {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 8px;

    }

    .film .name {
        margin-top: 4px;


    }




    /* ========================================================== */
    /* 主題館_theme.html */

    .theme .list {
        grid-template-columns: repeat(1, 1fr);





    }



    /* ========================================================== */
    /* 詳情頁_info.html */
    .info_PC {
        display: none;
    }

    /* 手機版 */
    .info_MB,
    .cover_MB {
        display: block;
    }




    /* 封面 */
    .cover_MB .container {
        position: relative;
        max-width: 576px;
        width: 100%;

    }

    .cover_MB .container .info {
        position: absolute;
        z-index: 1;
        top: 40%;
        left: 10%;
    }

    .cover_MB .info h1 {
        font-family: 'Roboto';
        font-size: 60px;
        font-weight: 900;
        background: linear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
        background: -webkit-llinear-gradient(91.47deg, #C10171 3.73%, #5C00F2 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .cover_MB .info h2 {
        max-width: 300px;
        font-family: 'Noto Sans TC';
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        color: #ffffff;
    }





    .cover_MB .info .add {
        width: 160px;
        height: 42px;
        font-family: 'Noto Sans TC';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 42px;
        background-color: #C10171;
        border-radius: 13px;
        position: relative;
        z-index: 3;
        cursor: pointer;
        margin-top: 16px;
    }


    .cover_MB .container .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(72.5% 427.7% at 96.33% 50%, rgba(27, 30, 37, 0) 39.58%, rgba(27, 30, 37, 0.93) 94.79%),
            linear-gradient(360deg, #1B1E25 0%, rgba(27, 30, 37, 0) 29.22%);

    }



    .cover_MB .container img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        object-position: 50% 100%;
    }




    /* 影片資訊 */
    .info_MB .slider-nav {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }

    .info_MB .slider-nav .icon {
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Noto Sans TC';
        width: 100%;
        height: 33px;
        position: relative;
        display: flex;
        justify-content: center;

    }

    .info_MB .slider-nav .icon::after {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 50%;
        width: 50%;
        height: 3px;
        border-radius: 10px;
        background-color: #C10171;
        opacity: 0;
        transform: translateX(-50%);
        /* 往左移動自身寬度的 50%，達到真正置中 */
    }


    .info_MB .slider-nav .icon:hover::after {
        opacity: 100;

    }


    .info_MB .slider-nav .active:after {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 50%;
        width: 50%;
        height: 3px;
        border-radius: 10px;
        background-color: #C10171;
        opacity: 100;
        transform: translateX(-50%);
        /* 往左移動自身寬度的 50%，達到真正置中 */
    }






    .info_MB .information {
        background: none;
    }

    .info_MB .information .box {
        padding: 16px;
    }

    .info_MB .container_style {
        margin-bottom: 14px;
    }

    .info_MB .year_MB .container {
        margin-right: 10px;
    }







    /* 演員 */
    .actors_MB {
        background: #686B721A;
        max-width: 576px;


    }

    .actors_MB .mySwiper {
        padding: 16px;
    }


    .actors_MB .actor_MB img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 3 / 4;
        border-radius: 12px;
        box-shadow: 0px 2px 8px 0px #0000007A;

    }




    .actors_MB .actor_MB .name {
        text-align: center;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-size: 12px;
        margin-top: 6px;
        font-weight: 400;
        margin-top: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

    }

    /* 相關影片 */
    .otherfilm {
        overflow: hidden;
        margin-bottom: 60px;
    }

    .otherfilm .box {
        padding: 40px 0px 40px 16px;
    }


















}